/* Navigation Bar Styling */ 

.navbar {
    border: 1px solid lightgray;
    background-color: white;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: gray !important;
    margin-top: 5px;
}

.nav-link:hover {
    color: black !important;
    transition: all .1s ease-in-out; 
    transform: scale(1.05);
}

.nav-link:active {
    color: black !important;
}

.navbar-brand:hover {
    animation: wobble 1s ease;
}

@keyframes wobble {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    30% {
        -webkit-transform: translateX(calc(2px)) rotate(1deg);
        transform: translateX(calc(2px)) rotate(1deg);
    }

    45% {
        -webkit-transform: translateX(calc(-4px)) rotate(calc(-3deg));
        transform: translateX(calc(-4px)) rotate(calc(-3deg));
    }

    60% {
        -webkit-transform: translateX(calc(2px)) rotate(calc(2deg));
        transform: translateX(calc(2px)) rotate(calc(2deg));
    }

    75% {
        -webkit-transform: translateX(calc(-1px)) rotate(calc(-1deg));
        transform: translateX(calc(-1px)) rotate(calc(-1deg));
    }
}

/* Text Styling */

.content {
    padding-top: 5%;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'WSRegular';
}

.bold-text {
    font-family: 'WSBold';
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
}

.section-bar {
    color: gray;
    width: 100%;
    margin: 0px 30px;
    opacity: 1;
}

.main-name {
    color: #d94c5f;
}

.description-text {
    color: gray;
}

/* Home Page Styling */

.home-content {
    display: flex;
    text-align: left;
    min-height: 100vh;
    padding-top: 10%;
}

.home-buttons {
    display: flex;
    gap: 20px;
    padding: 5%;
}

.home-image-col {
    display: flex;
    justify-content: flex-end;
}

.home-image {
    max-height: 500px;
}

.home-image:hover {
    animation: wobble 1s ease;
}


/* Experience Styling */

.experience-row {
    display: flex;
    align-items: center;
}

.experience-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-image {
    display: flex;
    align-items: center;
}

.experience-icon {
    padding: 5%;
}

.experience-card {
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    margin: 25px 0px 25px 0px;
    padding: 20px;
    transition: all .2s ease-in-out; 
}

.experience-card:hover {
    transform: scale(1.01);
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


/* Project Styling */

.project-card {
    margin: 5%;
}

.project-row {
    display: flex;
    align-items: center;
}

.project-skills {
    display: flex;
}

.learn-tag {
    font-size: 0.8rem;
    background-color: #ffe9de;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 5px;
    transition: all .1s ease-in-out; 
}

.learn-tag:hover {
    transform: scale(1.05);
}

.project-description-left {
    margin-left: 30px;
}

.project-description-right {
    margin-right: 30px;
}

/* Skills Page Styling */

.skills-filter {
    display: flex;
    justify-content: flex-end;
}

.skill-button {
    border: "1px solid lightgray";
    color: "black";
    border-radius: "15px";
}

.skills-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5%;
}

.skill-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F0F0F0;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin: 10px;
    transition: all .2s ease-in-out; 
}

.skill-circle:hover {
    transform: scale(1.1);
}

.skills-image {
    padding: 25%;
}

/* Contact Page Styling */

.contact {
    background-color: #ffe9de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-top: 3%;
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.contact-image-col {
    display: flex;
    justify-content: flex-end
}

.contact-text-col {
    display: flex;
    justify-content: start;
}

.image-container {
    max-width: 400px;
    height: auto;
}

.contact-image {
    max-width: 100%;
}

.contact-image:hover {
    animation: wobble 1s ease;
}



/* Components Styling */

.icons-row {
    display: flex;
    gap: 10px;
}

.social-icon {
    transition: all .2s ease-in-out; 

}
.social-icon:hover {
    transform: scale(1.05)
}

.link-button {
    padding: 15px;
    background-color: transparent;
    border: 1px lightgray solid;
    border-radius: 15px;
    font-family: "WSRegular";
    transition: all .2s ease-in-out; 
    text-decoration: none;
}

.link-button-active {
    background-color: #F59AA6;
}

.link-button:hover {
    transform: scale(1.05);
}



/* About Page Styling */

.about-page {
    padding-top: 80px;
}

.about-image {
    height: 500px;
}


.about {   
    /* width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url('../src/assets/stars.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    opacity: 0.3 */
}

.about-content {
    z-index: 1;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
}

